<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }
    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>
  <!-- Formulario de ingresar -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Crear Cuenta Empresa</h2>
            <form>   
              <div class="row mb-4">
                <div class="col">
                  <!-- Nombre de empresa -->
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form6Example1">Razon social</label>
                  </div>
                </div>
              </div>
              <!-- Cuit  -->
              <div class="form-outline mb-4">
                <input type="texto" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">Cuit</label>
              </div>
              <!-- Mail  -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Dirección de mail</label>
              </div>
              <!-- Rubro  -->
              <div class="form-outline mb-4">
                <input type="texto" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Rubro</label>
              </div>
              <!-- Contraseña  -->
              <div class="form-outline mb-4">
                <input type="password" id="form3Example5" class="form-control" />
                <label class="form-label" for="form3Example5">Contraseña</label>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <!-- Pais  -->
                  <div class="form-outline">
                    <input type="text" id="form3Example6" class="form-control" />
                    <label class="form-label" for="form6Example6">País</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Provincia  -->
                  <div class="form-outline">
                    <input type="" id="form3Example7" class="form-control" />
                    <label class="form-label" for="form6Example7">Provincia</label>
                  </div>
                </div>
              </div>
              
              <!-- Boton -->
              <button type="submit" class="btn btn-dark btn-block mb-4">
                Registrar cuenta
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="../../../assets/registro.jpeg" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
</section>