<section class="contenedor" id="nosotros">
  <p class="text-xxl-center">
  Somos 6 estudiantes del ISPC Instituto Superior Politécnico de Córdoba, que nos encontramos cursando el 2do año de la Tecnicatura Superior en Desarrollo Web y Aplicaciones Digitales. <br>
  Nos hemos unido para crear esta aplicación para la asignatura de Practica Profesionalizante. A continuación detallaremos más sobre nosotros.
  </p>
</section>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="../../../assets/perfil.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Angeles Franco</h5>
        <p class="card-text">Esta es una tarjeta más larga con texto de apoyo a continuación como introducción natural a contenido adicional. Este contenido es un poco más largo.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/perfil.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pablo Nicolas Villalba</h5>
        <p class="card-text">Esta es una tarjeta más larga con texto de apoyo a continuación como introducción natural a contenido adicional. Este contenido es un poco más largo.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/perfil.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Martin Mecodangelo</h5>
        <p class="card-text">Esta es una tarjeta más larga con texto de apoyo a continuación como introducción natural a contenido adicional.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/perfil.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ramiro Gomez</h5>
        <p class="card-text">Esta es una tarjeta más larga con texto de apoyo a continuación como introducción natural a contenido adicional. Este contenido es un poco más largo.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/perfil.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Matias Sacchi</h5>
        <p class="card-text">Esta es una tarjeta más larga con texto de apoyo a continuación como introducción natural a contenido adicional. Este contenido es un poco más largo.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/perfil.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Augusto Molina</h5>
        <p class="card-text">Esta es una tarjeta más larga con texto de apoyo a continuación como introducción natural a contenido adicional. Este contenido es un poco más largo.</p>
      </div>
    </div>
  </div>
</div>
