<!--Imagen principal en el Inicio -->
<div class="contenedor head">
    <h1 class="titulo"><strong>ShiftApp</strong></h1>
    <p class="subtitulo">Aplicación para agendar turnos online desde la comodidad del hogar.</p>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
      <a class="btn btn-dark btn-lg px-4 me-sm-3" href="#servicios" style="margin: 10px">Comenzar</a>
      <a class="btn btn-outline-light btn-lg px-4" href="../turnero/turnero.component.html" style="margin: 10px">Ir a turnero</a>
  </div>
  <!--Fin de imagen principal en el Inicio -->
  <main>
    <section class="contenedor" id="servicios">
        <h2 class="fw-bolder text-center">Nuestro servicio</h2>
        <p class="text-xxl-center">Aplicación de pre-agendamiento de citas para organizaciones y empresas que necesiten regular con turno la asistencia de sus clientes.
        Permitirá agendar citas en base a la capacidad de atención de las sucursales. Puede integrarse a la web de la marca (en caso que la tuviera).</p>
    </section>
    <!-- Sección características-->
      <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="bi bi-folder2-open"></i></div>
                    <h2 class="h4 fw-bolder">Características</h2>
                    <p>Pedí turnos desde tu casa y asistí directamente.</p>
                    <a class="text-decoration-none" href="#!">
                         Saber más
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="bi bi-card-checklist"></i></div>
                    <h2 class="h4 fw-bolder">Requerimientos</h2>
                    <p>¿Querés saber cuales son los datos que precisamos para que obtengas tu turno, los horarios y días de atención más cómodos para vos?</p>
                    <a class="text-decoration-none" href="#!">
                        Saber más
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="bi bi-info-circle"></i></div>
                    <h2 class="h4 fw-bolder">Contrataciones</h2>
                     <p>Espacio dedicado para empresas que precisen de un sistema de turnos eficiente, fácil y adaptable a sus necesidades.  </p>
                    <a class="text-decoration-none" href="#!">
                         Saber más
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
      </section>
      <!-- Fin Sección características-->
      <!-- Sección de testimonios-->
      <section class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Confían en nosotros:</h2>
                        <a title="Gobierno de la Provincia de Córdoba" href="https://www.cba.gov.ar/"><img class="d-block w-10" src="/src/assets/img/GOBCBA.png " HSPACE="250"/></a>
                        <a title="Instituto Superior Politécnico de Córdoba" href="https://www.ispc.edu.ar/"><img class="d-block w-20" src="/src/assets/ISPClogo.png" HSPACE="400"/></a>
            </div>
        </div>
    </section>
    <!-- Fin Sección de testimonios-->
    <!--Carrusel de imagenes para explicar resumidamente el funcionamientos de la App-->
    <section class="carrusel-text" id="carrusel">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item vh-100 active">
                <img class="d-block w-100" src="/src/assets/holding-coffee.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display">Turno digital</h2>
                    <p>El cliente podrá ingresar al sitio web y gestionar un turno digital (de acuerdo a la capacidad de cada sucursal y restricciones del negocio).</p>
                </div>
            </div>
            <div class="carousel-item vh-100">
                <img class="d-block w-100" src="/src/assets/holding-coffee.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Cuando llega a sucursal</h2>
                    <p>Una vez que el cliente arribe a la sucursal, deberá confirmar su arribo desde el link que ha recibido, por Recepcionista, SMS y/o email.</p>
                </div>
            </div>
            <div class="carousel-item vh-100">
                <img class="d-block w-100" src="/src/assets/holding-coffee.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Turno en tiempo</h2>
                    <p>Si el turno se encuentra en vigencia, el cliente visualizará una pantalla de confirmación, la cual será el comprobante de su reserva.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
      </div>
     <!--Fin de carrusel-->
    </section>
  </main>
