<header>
    <div class="head">
      <h1 class="text-center "><strong>ShiftApp</strong></h1>
      <p class="text-center" id="subtitulo">Aplicación para agendar turnos online desde la comodidad del hogar.</p>
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-dark btn-lg px-4 me-sm-3" href="#servicios" style="margin: 10px">Comenzar</a>
            <a class="btn btn-outline-light btn-lg px-4" href="../turnero/turnero.component.html" style="margin: 10px">Ir a turnero</a>
        </div>
    </div>
</header>
  <main>
    <section class="contenedor" id="servicios">
        <h2 class="fw-bolder text-center">Nuestro servicio</h2>
        <p class="text-xxl-center">Aplicación de pre-agendamiento de citas para organizaciones y empresas que necesiten regular con turno la asistencia de sus clientes.
        Permitirá agendar citas en base a la capacidad de atención de las sucursales. Puede integrarse a la web de la marca (en caso que la tuviera).</p>
    </section>
    <!-- Sección características-->
      <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="h4 fw-bolder"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-angle-fill" viewBox="0 0 16 16">
                      <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146z"/>
                    </svg> Características</h2>
                    <p>Pedí turnos desde tu casa y asistí directamente.</p>
                    <a class="text-decoration-none" href="#!">
                         Saber más
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="h4 fw-bolder"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-angle-fill" viewBox="0 0 16 16">
                      <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146z"/>
                    </svg> Requerimientos</h2>
                    <p>¿Querés saber cuales son los datos que precisamos para que obtengas tu turno, los horarios y días de atención más cómodos para vos?</p>
                    <a class="text-decoration-none" href="#!">
                        Saber más
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4">
                    <h2 class="h4 fw-bolder"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-angle-fill" viewBox="0 0 16 16">
                      <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146z"/>
                    </svg> Contrataciones</h2>
                     <p>Espacio dedicado para empresas que precisen de un sistema de turnos eficiente, fácil y adaptable a sus necesidades.  </p>
                    <a class="text-decoration-none" href="#!">
                         Saber más
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
      </section>
      <!-- Fin Sección características-->
      <!-- Sección de testimonios-->
      <section class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center">
                <h2 class="fw-bolder">Confían en nosotros:</h2>
                        <a title="Gobierno de la Provincia de Córdoba" href="https://www.cba.gov.ar/"><img class="rounded mx-auto d-block" src="../../../assets/gob_logo.png" HSPACE="400"/></a>
                        <a title="Instituto Superior Politécnico de Córdoba" href="https://www.ispc.edu.ar/"><img class="rounded mx-auto d-block" src="../../../assets/ISPClogo.png" HSPACE="400"/></a>
            </div>
        </div>
    </section>
    <!-- Fin Sección de testimonios-->
    <!--Carrusel de imagenes para explicar resumidamente el funcionamientos de la App-->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item vh-100 active">
                <img class="d-block w-100" src="../../../assets/holding-coffee.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display">Turno digital</h2>
                    <p>El cliente podrá ingresar al sitio web y gestionar un turno digital (de acuerdo a la capacidad de cada sucursal y restricciones del negocio).</p>
                </div>
            </div>
            <div class="carousel-item vh-100">
                <img class="d-block w-100" src="../../../assets/holding-coffee.png" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Cuando llega a sucursal</h2>
                    <p>Una vez que el cliente arribe a la sucursal, deberá confirmar su arribo desde el link que ha recibido, por Recepcionista, SMS y/o email.</p>
                </div>
            </div>
            <div class="carousel-item vh-100">
                <img class="d-block w-100" src="../../../assets/holding-coffee.png" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Turno en tiempo</h2>
                    <p>Si el turno se encuentra en vigencia, el cliente visualizará una pantalla de confirmación, la cual será el comprobante de su reserva.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
     <!--Fin de carrusel-->
    
  </main>
