<section id="page-container">
    <div class="d-grid gap-10 d-sm-flex justify-content-sm-center">
      <div class="contenedorhead">
          <h1 class="text-center" id="titulo"><strong>ShiftApp</strong></h1>
          <p class="text-center" id="subtitulo">Agende sus turnos de forma online desde la comodidad de su hogar.</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <button id="btn-abrir-popup" class="btn-abrir-popup btn btn-dark btn-lg px-4 me-sm-3" style="margin: 10px" onclick="popups()">Solicite su turno aquí</button>
            <button id="btn-abrir-popup2" class="btn btn-outline-light btn-lg px-4 me-sm-3" style="margin: 10px" >Acceder a mis turnos</button>
        </div>
    </div>
  </div>
  <div id="content-wrap">
<div class="modal-dialog modal-dialog-scrollable">
...
</div>  
    <!-- Popup para solicitar turnos-->
    <div id="overlay" class="overlay">
            <div id="popup" class="popup">
                <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup" ><i class="fas fa-times"></i></a>
                <h3>Solicitar Turno</h3>
                <h4>Ingrese sus datos</h4>
                <form action="">
                <div class="contenedor-inputs">
                    <input type="text" placeholder="Nombre completo" required>
                    <input type="text" placeholder="DNI" required>
                    <input type="email" placeholder="Correo electrónico" required>  
                </div>
                <h4>Seleccione</h4>
                <div class="contenedor-inputs">
                    <label for="establecimiento-choice">Lugar</label>
                    <input list="nombres-establecimientos" id="establecimiento-choice" name="establecimiento-choice" required>

                    <datalist id="nombres-establecimientos">
                        <option value="Establecimiento educativo">
                        <option value="Dispensario de salud público">
                        <option value="Consultorio médico privado">
                        <option value="Comercio">
                        <option value="Otros"></option>
                    </datalist>
                    <label  for="establecimiento-choice">Fecha y Hora</label>
                    <input id="fechaReserva" type="date" min="2021-11-01" required>
                </div>
                <input type="submit" class="btn-submit btn btn-dark" value="Enviar solicitud"> 
            </form>
        </div>
    </div>
    <!-- Fin del Popup para solicitar turnos-->
    <!-- Popup para acceder a mis turnos-->
    <div id="overlay2" class="overlay2">
        <div id="popup2" class="popup2">
            <a href="#" id="btn-cerrar-popup2" class="btn-cerrar-popup2"><i class="fas fa-times"></i></a><!-- Botón para cerrar la ventana-->
            <h3>Mis turnos</h3>
            <h4>Ingrese sus datos</h4>
            <form>
            <div class="contenedor-inputs">
                <input type="text" placeholder="Nombre y Apellido"><!-- Sirve para generar campos a rellenar-->
                <input type="text" placeholder="DNI">
                <input type="email" placeholder="Correo electrónico">  
            </div>
            <h4>Seleccione</h4>
            <div class="contenedor-inputs">
                <label for="establecimiento-choice">Lugar del turno</label>
                <input list="nombres-establecimientos" id="establecimiento-choice" name="establecimiento-choice">
                <datalist id="nombres-establecimientos"><!-- Sirve para generar un listado desplegable-->
                    <option value="Establecimiento educativo">
                    <option value="Dispensario de salud público">
                    <option value="Consultorio médico privado">
                    <option value="Comercio">
                    <option value="Otros"></option>
                </datalist>
                <label for="establecimiento-choice">Fecha y Hora</label>
                <input type="datetime-local"><!-- Sirve para generar un calendario-->
                <br>
                <br>
                <br><br>¿No recuerda la fecha de su turno? Tilde aquí<br>
                <input type="checkbox" name="no recuerda fecha">
        
            </div>
            <input type="submit" class="btn-submit btn btn-dark" value="Imprimir historial"> 
        </form>
    </div>
</div>
<!-- Fin del Popup para acceder a mis turnos-->
</div>
</section>

  
 

