<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <label class="brand">
    <a href=""><img src="../assets/agenda_icono.png" alt=""></a>
  </label>
  <a id="titulo" class="navbar-brand">ShiftApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link " routerLinkActive="active" routerLink="/inicio">Inicio</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link " routerLinkActive="active" routerLink="/nosotros">Sobre nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLinkActive="active" routerLink="/footer">Contacto</a>
      </li>
    </ul>
    <form class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link " routerLinkActive="active" routerLink="/ingresar">Ingresar</a>
       <!-- <a class="nav-link" routerlink="./../../Pages/ingresar/ingresar.component.html"> Ingresar</a>-->
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLinkActive="active" routerLink="/registrarse">Crear cuenta</a>
      </li>
      
    </form>
  </div>
</nav>